*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgba(19,19,19,0.9);
    display:flex;
    justify-content: center;
   flex-direction: column;
    align-items: center;
    height:100vh;
    gap:30px;
   font-family: 'Courier New', Courier, monospace;
}
.container{
    border:1px solid black;
    background-color: black;
   
  padding:30px;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.timer{
    color:white;
    letter-spacing: 3px;
   font-size:4rem;
}
.button-box{
    display:flex;
    gap:88px;
}
.stopbox{
   padding:15px;
    background-color: red;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:none;
    color:white;
}
.startbox{
    padding:15px;
     background-color: green;
     display:flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     border:none;
     color:white;
 }
 .resetbox{
    padding:15px;
     background-color: blue;
     display:flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     border:none;
     color:white;
 }
 .watermark{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color:white;
 }